# Functions

#### Warm up

In [1]:
bands1 = ['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']

fixed_bands1 = [band.title().strip(' ,.') for band in bands1]
print(fixed_bands1)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [ ]:
# Output: ['The Beatles', 'The Rolling Stones', etc]

In [2]:
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

fixed_bands2 = [band.title().strip(' ,.') for band in bands2]
print(fixed_bands2)

['The Who', 'The Doors', 'The Band', 'The Kinks']

## Functions

In [3]:
# DRY principle
# DONT
# REPEAT
# YOURSELF

##### User-Defined vs. Built-In Function

In [5]:
# Built-in functions
print(max)
help(max)

<built-in function max>
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [6]:
# User Defined Function
# Syntax: def function_name():
#             <CODE TO EXECUTE WHEN CALLED>

# Creating a function
def say_hello():
    print('Hello World')

In [8]:
print(say_hello)
say_hello

<function say_hello at 0x000001BC24118700>

In [9]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [13]:
# Executing a function
# Syntax: function_name()

say_hello() # Executing the function - don't forget the ()!

Hello World

In [15]:
say_hello()

Hello World

##### Accepting Parameters

In [29]:
# Syntax: def function_name(param1, param2):
#             <CODE TO EXECUTE with variable param1 and param2>
def say_hello_again(first, last): # ,- first and last are parameters (aka placeholders)
    print(f"Hello {first.title()} {last.title()}! How are you doing today?")

    
# Execute
# Syntax: function_name(data1, data2)
say_hello_again('Brian', 'Stanton') # 'Brian' and 'Stanton' are arguments (aka real data)

Hello Brian Stanton! How are you doing today?

In [30]:
say_hello_again('sarah', 'STODDER')

Hello Sarah Stodder! How are you doing today?

In [31]:
say_hello_again("Stanton", "Brian") # Position Matters!

Hello Stanton Brian! How are you doing today?

##### Passing in variables as parameters

In [33]:
city1 = 'Boston'
state1 = 'MA'
zip_code1 = '02215'

city2 = 'New York'
state2 = 'NY'
zip_code2 = '10451'

In [34]:
# Function to fomat an address -> City, State -- Zip Code

def format_address(city_name, state_code, zip_code):
    print(f"{city_name}, {state_code} -- {zip_code}")

In [35]:
format_address('Chicago', 'IL', '60623')

Chicago, IL -- 60623

In [36]:
format_address(city1, state1, zip_code1)

Boston, MA -- 02215

In [38]:
first = 'Michael'
last = 'Jordan'

say_hello_again(first, last)

Hello Michael Jordan! How are you doing today?

##### Keyword Arguments

In [43]:
# Function for making a payment to a loan

def make_a_payment(total_amount_due, amount_paid, account_number):
    new_total = total_amount_due - amount_paid
    print(f"You have made a payment of ${amount_paid} to Account #{account_number}.")
    print(f"Your new balance is ${new_total}.")
    print("Thank you for your payment.")

In [44]:
make_a_payment(1000, 100, '287432848')

You have made a payment of $100 to Account #287432848.
Your new balance is $900.
Thank you for your payment.

In [45]:
# function_name(param_name=arg_value, etc.)

make_a_payment(amount_paid=500, account_number='324234324', total_amount_due=2000)

You have made a payment of $500 to Account #324234324.
Your new balance is $1500.
Thank you for your payment.

In [47]:
# combo of positional and keyword works

make_a_payment(5000, account_number='9786756789', amount_paid=1000)

You have made a payment of $1000 to Account #9786756789.
Your new balance is $4000.
Thank you for your payment.

In [49]:
# positional arguments MUST COME BEFORE any keyword arguments

# make_a_payment(account_number='3846347834', 10000, 2000) # SyntaxError!

##### Default Parameters

In [54]:
# default parameters need to be AFTER non-default at all times

def make_a_burger(customer_name, cheese=True, lettuce=True, tomato=True, onions=None, bacon=0):
    total_price = 4.50
    receipt = f"Thank you {customer_name}. Here is your receipt:\n"
    receipt += "1 Hamburger\n"
    if cheese:
        receipt += "\twith cheese\n"
    if lettuce:
        receipt += "\twith lettuce\n"
    if tomato:
        receipt += "\twith tomato\n"
    if onions:
        receipt += f"\twith {onions} onions\n"
    if bacon:
        receipt += f"\twith {bacon} pieces of bacon\n"
        total_price += .75*bacon
    receipt += f"Total: ${total_price:.2f}"
    print(receipt)

In [55]:
make_a_burger('Brian')

Thank you Brian. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
Total: $4.50

In [56]:
make_a_burger('Dan', False)

Thank you Dan. Here is your receipt:
1 Hamburger
	with lettuce
	with tomato
Total: $4.50

In [57]:
make_a_burger('Jackie', True, True, True, None, 2)

Thank you Jackie. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with 2 pieces of bacon
Total: $6.00

In [59]:
make_a_burger('Sally', bacon=3, onions='grilled')

Thank you Sally. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with grilled onions
	with 3 pieces of bacon
Total: $6.75

##### \*args and **kwargs

In [60]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [62]:
min(10, 15, 3, 6, 1, 7, 9, 4, 2,12)

1

In [71]:
def my_function(arg1, *args):
    print('Arg1:', arg1)
    print('Args:', args, type(args))
    
my_function(1, 2, 3, 3, 4, 5, 6, 34,5 , 3, 23, 34,5, 3245, 34342)

Arg1: 1
Args: (2, 3, 3, 4, 5, 6, 34, 5, 3, 23, 34, 5, 3245, 34342) <class 'tuple'>

In [78]:
def average(*nums):
    print(nums)
    total = 0
    for num in nums:
        total += num
    return total / len(nums)


average(98, 92, 95, 99, 91, 89, 70, 99, 33, 45, 66)

(98, 92, 95, 99, 91, 89, 70, 99, 33, 45, 66)

79.72727272727273

In [89]:
def another_function(**abc):
    print(abc)
    print(type(abc))
    
    
another_function(name='Brian', age=55, languages=['Python', 'JavaScript'])

{'name': 'Brian', 'age': 55, 'languages': ['Python', 'JavaScript']}
<class 'dict'>

In [88]:
def altogether(arg1, arg2, *args, default='hello', **kwargs):
    print('arg1:', arg1)
    print('arg2:', arg2) 
    print('args:', args)
    print('default:', default)  
    print('kwargs:', kwargs) 
    
    
altogether('A', 'B', 'C', 'D', 'E', test=123, default='goodbye', name='Brian')

arg1: A
arg2: B
args: ('C', 'D', 'E')
default: goodbye
kwargs: {'test': 123, 'name': 'Brian'}

#### In Class Exercise 1

Create a function that takes in a color, make, and model and formats it into a string.<br>
Then loop over the cars list and apply the function to each element.<br>
Expected Output:<br>
<code>Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150</code>

In [113]:
cars = [
    ('blue', 'toyota', 'tundra'), 
    ('green', 'chevy', 'silverado'), 
    ('pink', 'ford', 'f-150'), 
    ('red', 'ford', 'mustang'),
    ('yellow', 'toyota', 'prius')
]

for car in cars:
    print(car, type(car))

('blue', 'toyota', 'tundra') <class 'tuple'>
('green', 'chevy', 'silverado') <class 'tuple'>
('pink', 'ford', 'f-150') <class 'tuple'>
('red', 'ford', 'mustang') <class 'tuple'>
('yellow', 'toyota', 'prius') <class 'tuple'>

In [114]:
def format_car(color, make, model):
    print(f"{color} {make} {model}".title())
    
# format_car('red', 'toyota', 'camry')

In [115]:
for car in cars:
    format_car(car[0], car[1], car[2])

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang
Yellow Toyota Prius

In [116]:
for color, make, model in cars:
    format_car(color, make, model)

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang
Yellow Toyota Prius

In [117]:
for car in cars:
    print(car)

('blue', 'toyota', 'tundra')
('green', 'chevy', 'silverado')
('pink', 'ford', 'f-150')
('red', 'ford', 'mustang')
('yellow', 'toyota', 'prius')

In [118]:
# Blue Toyota Tundra
# Green Chevy Silverado
# Pink Ford F-150
# Red Ford Mustang
# Yellow Toyota Prius

In [122]:
def format_car_args(*args):
    print(' '.join(args).title())
        
format_car_args('2020', 'green', 'red', 'honda', 'civic')

2020 Green Red Honda Civic

In [99]:
for color, make, model in cars:
    format_car(color, make, model)

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang
Yellow Toyota Prius

In [96]:
car1 = ('blue', 'toyota', 'tundra')

format_car(*car1)

Blue Toyota Tundra

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [132]:
student = 'Little Jimmy' # global
teacher = 'Ms. Buttercup' # global

def assign_student(student_name, teacher_name): # student_name is local variable that is scoped to the function
    print(f"{student_name} has been assigned to {teacher}'s classroom")
    
    
assign_student('Johnny Smith', 'Mr. Teacher')
assign_student(student, 'Mr. Teacher')
# print(student_name) # NameError: name 'student_name' is not defined

Johnny Smith has been assigned to Ms. Buttercup's classroom
Little Jimmy has been assigned to Ms. Buttercup's classroom

In [136]:
# evens_only = [] # Defined Globally

def get_only_evens(list_of_nums):
    evens_only = [] # Defined Locally
    # Loop through the argument list
    for num in list_of_nums:
        # Check if the number is even
        if num % 2 == 0:
            # if it is even, append to the evens_only list
            evens_only.append(num)
    # Once finished looping, print the evens_only list
    print(evens_only)

In [137]:
get_only_evens([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[2, 4, 6, 8, 10]

In [138]:
get_only_evens([10, 15, 20, 25, 30, 35, 40, 45, 50])

[10, 20, 30, 40, 50]

##### Returning Values

In [139]:
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)

def f(x):
    return 2*x


y = f(5)
print(y)

10

In [141]:
z = f(10)
print(z, z**2)

20 400

In [143]:
# Return will also immediately terminate the function
def early_return(n):
    for i in range(n):
        return i
    
early_return(100000000)

0

In [161]:
def another_example(n):
    for i in range(n):
        if i == 5:
            return i
        print(i)
    print('This is after the for loop')
    
return_value = another_example(10)
print('The return value is:', return_value)

0
1
2
3
4
The return value is: 5

In [158]:
print(return_value)

5

In [162]:
names = ['Brian', 'Dan', 'Maggie', 'Alisha', 'Frank', 'Kelly', 'Sam']

def person_is_in_list(person_name):
    for name in names:
        if name == person_name:
            return True
    return False

person_is_in_list('Frank')

True

In [163]:
person_is_in_list('Hannah')

False

#### Multiple returns in a function

In [165]:
# Function to determine if a person can vote by their birth year

def can_vote(birth_year):
    if 2023 - birth_year >= 18:
        return True
    else:
        return False
    
print(can_vote(2010))
print(can_vote(2000))

False
True

In [185]:
def can_vote2(birth_year):
    if 2023 - birth_year >= 18:
        return True
    return False

print(can_vote2(2000))
print(can_vote2(2010))

True
False

In [186]:
def can_vote2(birth_year):
    if 2023 - birth_year >= 18:
        print(True)
    print(False)

can_vote2(2000)

True
False

In [181]:
from datetime import datetime

now = datetime.utcnow()

now.strftime('%m/%d/%Y')

'07/19/2023'

In [188]:
def can_vote3(birth_year):
    return 2023 - birth_year >= 18


print(can_vote3(2000))
print(can_vote3(2010))

True
False

##### Difference between `return` and `print`

In [196]:
def my_max(*args):
    current_max = args[0]
    for num in args:
        if num > current_max:
            current_max = num
    return current_max

In [197]:
my_max(4, 5, 8, 2, 1, 3, 5, 7, 9, 3, 14, 62, 12, 1, 72, 21, 22, 36)

72

In [198]:
scores = []
while True:
    score = input('Enter Score or type done when done ').lower()
    if score == 'done':
        break
    scores.append(int(score))
    
top_score = my_max(*scores)
print(f"Congrats to the winner with a top score of {top_score}")

Enter Score or type done when done 5
Enter Score or type done when done 6
Enter Score or type done when done 3
Enter Score or type done when done 3
Enter Score or type done when done 6
Enter Score or type done when done 7
Enter Score or type done when done 4
Enter Score or type done when done 2
Enter Score or type done when done 8
Enter Score or type done when done 3
Enter Score or type done when done 9
Enter Score or type done when done done
Congrats to the winner with a top score of 9

In [199]:
def create_headline_print(message):
    print(message.strip().title() + '!')
    
def create_headline_return(message):
    return message.strip().title() + '!'

In [208]:
def format_blog_post(headline, author, body):
    return f"""
    {headline} by {author}
    {body}
    """

In [210]:
def publish_article():
    headline = input('Enter the headline for your post: ')
    body = input('Enter the body of the post: ')
    author = input('Who is the author of the post: ')
    clean_headline = create_headline_return(headline)
    print(format_blog_post(clean_headline, author, body))
    

publish_article()

Enter the headline for your post:     pyThOn RUlEs
Enter the body of the post: It is a great language
Who is the author of the post: Brian

    Python Rules! by Brian
    It is a great language

#### Functions with Lists

In [211]:
print(bands1)
print(bands2)

['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']
[' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

In [212]:
def clean_band_names(messy_bands_list):
    fixed_bands = [band.title().strip(' ,.') for band in messy_bands_list]
    return fixed_bands

In [215]:
clean_bands1 = clean_band_names(bands1)

In [216]:
clean_bands2 = clean_band_names(bands2)

In [217]:
print(clean_bands1)
print(clean_bands2)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']
['The Who', 'The Doors', 'The Band', 'The Kinks']

In [219]:
clean_bands3 = clean_band_names(['   , .tHE BeaCH bOys', '   THE STroKEs    ...', '    thE KilLeRs  ...,'])
print(clean_bands3)

['The Beach Boys', 'The Strokes', 'The Killers']

#### In-Class Exercise 2

Create a function that takes in the list of tuples ('city', 'country') and a country name and returns a list of the cities in that country

In [225]:
euro_cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]

nor_so_am_cities = [
    ("Mexico City", "Mexico"),
    ("Buenos Aires", "Argentina"),
    ("Sao Paulo", "Brazil"),
    ("Santiago", "Chile"),
    ("Rio De Janeiro", "Brazil")
]


def cities_in_country(list_of_tuples, country_name):
    # Set up our output list
    output = []
    # loop over the list of tuple
    for city, country in list_of_tuples:
        # if the 1-index of the tuple (aka the country) matches the country name passed in
        if country == country_name:
            # add the city of that country to the output list
            output.append(city)
    # After we have looped through all of the tuples, return the output list
    return output


print(cities_in_country(euro_cities, 'Italy')) # ['Rome', 'Florence']
print(cities_in_country(euro_cities, 'Spain')) # ['Barcelona', 'Madrid']
print(cities_in_country(nor_so_am_cities, 'Brazil')) # ['Sao Paolo', 'Rio De Janeiro']

['Rome', 'Florence']
['Barcelona', 'Madrid']
['Sao Paulo', 'Rio De Janeiro']

#### Docstrings

In [226]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [227]:
help(cities_in_country)

Help on function cities_in_country in module __main__:

cities_in_country(list_of_tuples, country_name)

In [229]:
def add_nums(num1, num2):
    '''
    add_nums takes in two number types (int or float) and will return the two added together
    num1 -> int or float
    num2 -> int or float
    returns int or float
    '''
    return num1 + num2


help(add_nums)

Help on function add_nums in module __main__:

add_nums(num1, num2)
    add_nums takes in two number types (int or float) and will return the two added together
    num1 -> int or float
    num2 -> int or float
    returns int or float

In [230]:
add_nums(23, 3.4)

26.4